div.app {
    float: left;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 10px #202020;
    background-color: #f0f0f0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

div.app:hover {
    box-shadow: 2px 2px 10px #2020ff;
}

div.app.icon-chat { background-image: url('../img/Chat.png'); }
div.app.icon-game { background-image: url('../img/Games.png'); }
div.app.icon-setting { background-image: url('../img/Configure.png'); }
