* {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:none;
}

img.welcome {
    width: 300px;
    height: auto;
}

article, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	background: #75C7E2;
}

figure {
	background: #75C7E2;
	border: 6px solid;
	border-radius: 1em;
	height: 400px;
	margin: 0 auto;
	width: 300px;
}

body nav ul {
	list-style: none;
	text-align: center;	
}

.hidden {
	display: none;
}

nav ul li {
	background: #eee;
	border: 6px solid;
	border-radius: 0 1em 0 1em;	
	height: 30px;
	margin: 0 auto;
	width: 100px;
}

nav ul li a {}

nav ul li a:hover {}